<div class="card mt-3">
  <div class="card-body">
    <div class="panel panel-success pt-2">
      <div class="panel-heading">
        <h5 class="panel-title mt-3">Metadata</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Define metadata of the project used to generate predictions
        </h6>
        <h6 class="card-subtitle mb-2">
          Functional dependencies, keys and composite keys can be automatically
          find using profiling techniques.
        </h6>
      </div>
      <!-- Primary keys -->
      <div class="row table-dataset">
        <div class="d-flex align-items-end mb-2 mt-3">
          <h5 class="panel-title mt-3 card-text">Primary Keys</h5>
          <div class="d-grid gap-2 col-2 ms-auto">
            <button
              class="btn btn-outline-primary btn-sm btn-cust"
              type="button"
              (click)="findPks()"
              [disabled]="loadFindPk"
            >
              Find
              <i
                *ngIf="loadFindPk"
                class="fa fa-spinner-third fa-spin fast-spin px-1"
              ></i>
            </button>
          </div>
        </div>
        <div class="col-md-12 overflow-auto">
          <form [formGroup]="formPk" novalidate>
            <table
              border="1"
              class="table table-sm table-striped table-bordered table-hover text-center table-ck"
            >
              <thead>
                <tr>
                  <th class="column-id">#</th>
                  <th *ngFor="let h of scenario?.attributes" scope="col">
                    {{ h.name }}
                  </th>
                  <th class="column-id"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PK</td>
                  <td *ngFor="let h of scenario?.attributes">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="h.normalizedName"
                      [checked]="primaryKeys.normalizedName == h.normalizedName"
                      formArrayName="selectedPk"
                      (change)="onPkChange($event)"
                    />
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      (click)="saveScenario()"
                    >
                      Save
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>

      <!-- Composite Keys -->
      <div class="row table-dataset">
        <div class="d-flex align-items-end mb-2 mt-3">
          <h5 class="panel-title mt-3 card-text">Composite Keys</h5>
          <div class="d-grid gap-2 col-2 ms-auto">
            <button
              class="btn btn-outline-primary btn-sm btn-cust"
              type="button"
              (click)="findCks()"
              [disabled]="loadFindCks"
            >
              Find
              <i
                *ngIf="loadFindCks"
                class="fa fa-spinner-third fa-spin fast-spin px-1"
              ></i>
            </button>
          </div>
        </div>
        <div class="col-md-12 overflow-auto" style="max-height: 400px">
          <form [formGroup]="formCk" (ngSubmit)="addCk()">
            <table
              border="1"
              class="table table-sm table-striped table-bordered table-hover text-center table-ck"
            >
              <thead>
                <tr>
                  <th class="column-id">#</th>
                  <th *ngFor="let h of scenario?.attributes" scope="col">
                    {{ h.name }}
                  </th>
                  <th class="column-id"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="row-pk"
                  *ngFor="let item of scenario?.compositeKeys; let i = index"
                  [attr.data-index]="i"
                >
                  <td>{{ "CK" + (i + 1) }}</td>
                  <td *ngFor="let h of scenario?.attributes">
                    <i
                      *ngIf="includeCompositeKeys(i, h.normalizedName)"
                      class="fas fa-link"
                      style="color: orange"
                    ></i>
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-danger btn-sm"
                      type="button"
                      (click)="deleteCk(i)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td *ngFor="let h of scenario?.attributes">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="h.normalizedName"
                      formArrayName="selectedCompositeKeys"
                      (change)="onCkChange($event)"
                    />
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="submit"
                    >
                      Add
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="invalid-feedback d-block"
              *ngIf="submittedCk && !isCkFormValid()"
            >
              Fields required
            </div>
          </form>
        </div>
      </div>

      <!-- Functional dependencies -->
      <div class="row table-dataset">
        <div class="d-flex align-items-end mb-2 mt-3">
          <h5 class="panel-title mt-3 card-text">Functional dependencies</h5>
          <div class="d-grid gap-2 col-2 ms-auto">
            <button
              class="btn btn-outline-primary btn-sm btn-cust"
              type="button"
              (click)="findFds()"
              [disabled]="loadFindFds"
            >
              Find
              <i
                *ngIf="loadFindFds"
                class="fa fa-spinner-third fa-spin fast-spin px-1"
              ></i>
            </button>
          </div>
        </div>
        <div class="col-md-12 overflow-auto" style="max-height: 400px">
          <form [formGroup]="formFds" (ngSubmit)="addFd()">
            <table
              border="1"
              class="table table-sm table-striped table-bordered table-hover text-center table-fd"
            >
              <thead>
                <tr>
                  <th class="column-id">#</th>
                  <th *ngFor="let h of scenario?.attributes" scope="col">
                    {{ h.name }}
                  </th>
                  <th class="column-id col-arrow"></th>
                  <th class="column-id col-attr"></th>
                  <th class="column-id col-words"></th>
                  <th class="column-id col-btn"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="row-pk"
                  *ngFor="let item of scenario?.fds; let i = index"
                  [attr.data-index]="i"
                >
                  <td>{{ "FD" + (i + 1) }}</td>
                  <td *ngFor="let h of scenario?.attributes">
                    <i
                      *ngIf="includeFunctionalDependencies(i, h.normalizedName)"
                      class="fas fa-check"
                      style="color: orange"
                    ></i>
                  </td>
                  <td class="col-arrow">
                    <i class="fas fa-arrow-right" style="color: orange"></i>
                  </td>
                  <td class="col-attr">
                    {{ getAttrDependency(i) }}
                  </td>
                  <td class="col-words">
                    <input
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="this.scenario!.fds[i][1]"
                      [disabled]="fdEditable != i"
                      [value]="this.scenario!.fds[i][1].toString()"
                    />
                  </td>
                  <td *ngIf="fdEditable != i" class="col-btn">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      (click)="editFd(i)"
                    >
                      <i class="fas fa-pen"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger btn-sm ml-1"
                      type="button"
                      (click)="deleteFd(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td *ngIf="fdEditable == i" class="col-btn">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      (click)="saveFd(i)"
                    >
                      Save
                    </button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td *ngFor="let h of scenario?.attributes">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="h.normalizedName"
                      formArrayName="selectedFds"
                      (change)="onFdChange($event)"
                    />
                  </td>
                  <td class="col-arrow">
                    <i class="fas fa-arrow-right" style="color: orange"></i>
                  </td>
                  <td class="col-attr">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      (change)="onFdDependencyChange($event)"
                    >
                      <option
                        [value]=""
                        [disabled]="true"
                        [selected]="true"
                      ></option>
                      <option
                        *ngFor="let h of scenario?.attributes"
                        [value]="h.normalizedName"
                        [disabled]="includeAttrDependency(h.normalizedName)"
                        [selected]="
                          newFdDependency?.normalizedName == h.normalizedName
                        "
                      >
                        {{ h.name }}
                      </option>
                    </select>
                  </td>
                  <td class="col-words">
                    <input class="form-control" formControlName="fdAttr" />
                  </td>
                  <td class="col-btn">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="submit"
                    >
                      Add
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="invalid-feedback d-block"
              *ngIf="submittedFd && !isFdFormValid()"
            >
              Fields required
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Templates -->
<div class="card mt-3 card-template">
  <div class="card-body">
    <h5 class="card-title">Template</h5>
    <h6 class="card-subtitle mb-2 text-muted">A-Query template</h6>
    <p class="card-text">
      Ambiguity Templates (or A-Query Templates) are parameterized queries used
      to generate SQL scripts. The parameters identify the elements of the query
      and can be assigned to <em>relation</em> and <em>attribute names</em>, a
      set of <em>labels</em> and <em>comparison operators</em>. Parameter values
      are automatically populated by Pythia using profiling methods and machine
      learning modules to find attributes ambiguities with the corresponding
      ambiguous words.
    </p>
    <form class="row g-3" [formGroup]="formTemplate" novalidate>
      <div class="input-group mb-3">
        <select
          class="form-select"
          id="select-templ"
          (change)="onTemplataTypeChange($event)"
        >
          <option value="" selected>Select a query template...</option>
          <option value="attribute">Attribute Ambiguity</option>
          <option value="row">Row Ambiguity</option>
          <option value="fd">FD Ambiguity</option>
          <option value="full">Full Ambiguity</option>
          <option value="func">Func Ambiguity</option>
          <option value="blank">Blank</option>
        </select>
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addTemplate()"
        >
          Add
        </button>
      </div>
      <div
        class="invalid-feedback d-block"
        *ngIf="submittedTemplate && !this.newTemplate"
      >
        Select a query template
      </div>
      <div
        *ngFor="let t of templates; let indexOfelement = index"
        class="code-editor"
        id="card-t1"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              [ngClass]="{ collapsed: expandedTemplate != indexOfelement }"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + indexOfelement"
              aria-expanded="true"
              [aria-controls]="'#collapse' + indexOfelement"
            >
              {{ t[3] }}
              <em style="margin-left: 10px">(Default Template)</em>
            </button>
          </h2>
          <div
            [attr.id]="'collapse' + indexOfelement"
            class="accordion-collapse"
            [ngClass]="{ collapse: expandedTemplate != indexOfelement }"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <label class="col-sm-2 col-form-label">Template Name</label>
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Template Name"
                    aria-label="default input example"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="t[3]"
                  />
                </div>
              </div>
              <div class="row g-3">
                <div style="height: 150px" class="col-12">
                  <textarea
                    placeholder="Insert template sql"
                    id="editing"
                    spellcheck="false"
                    [(ngModel)]="t[0]"
                    [ngModelOptions]="{ standalone: true }"
                    (input)="updateSqlText(indexOfelement)"
                  >
                {{ t[0] }}</textarea
                  >
                  <pre
                    id="highlighting"
                    aria-hidden="true"
                    class="language-sql"
                  >
                  <code #highlightingContent class="language-sql" id="highlighting-content">{{ t[0] }}</code>
                </pre>
                </div>
                <div *ngIf="getOperators(t[1]).length > 0" class="col-12">
                  <h6>Operators</h6>
                  <div
                    class="row my-1"
                    *ngFor="let o of getOperators(t[1]); let i = index"
                  >
                    <label
                      class="col-sm-1 col-form-label text-center font-weight-bold"
                      >{{ o }}</label
                    >
                    <div class="col-sm-6">
                      <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        aria-label="default input example"
                        [(ngModel)]="t[2][i]"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                  </div>
                </div>
                <div class="d-grid gap-2 col-2 ms-auto">
                  <button
                    class="btn btn-outline-secondary btn-sm btn-cust"
                    type="button"
                    (click)="saveTemplates()"
                  >
                    Save
                  </button>
                </div>
                <div class="d-grid gap-2 col-2">
                  <button
                    class="btn btn-outline-danger btn-sm"
                    type="button"
                    (click)="deleteTemplate(indexOfelement)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<form [formGroup]="formAmbiguous" (ngSubmit)="addAmbiguous()">
  <div class="card mt-3 card-ambiguous">
    <div class="card-body">
      <h5 class="card-title">Ambiguous Attributes</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Define ambiguous attribute pairs
      </h6>
      <div class="row mb-3">
        <p class="col-9 card-text">
          Finds ambiguous attributes pairs with T5 model. It is possible to edit
          labels, or add new pairs. You can also submit ambiguous pairs as
          training data and retrain the T5 model <br /><em
            >Note: the process is asynchronous and may require some minutes to
            be completed</em
          >.
        </p>
        <div class="col-3">
          <button
            class="col-12 btn btn-outline-primary btn-sm btn-cust mb-2"
            type="button"
            (click)="findAmbiguous()"
            [disabled]="loadFindAmbiguous"
          >
            Find
            <i
              *ngIf="loadFindAmbiguous"
              class="fa fa-spinner-third fa-spin fast-spin px-1"
            ></i>
          </button>
          <!-- <button class="col-12 btn btn-primary btn-sm btn-cust" type="button">
          Submit & Train
        </button> -->
        </div>
      </div>
      <div class="row">
        <div class="cxol-md-8">
          <div class="panel panel-success">
            <table
              style="table-layout: fixed"
              border="1"
              class="table table-sm table-striped table-bordered table-hover text-center"
            >
              <thead>
                <tr>
                  <th>Attribute 1</th>
                  <th>Attribute 2</th>
                  <th>Label</th>
                  <th class="column-button"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let a of scenario?.ambiguousAttribute; let i = index"
                >
                  <td>{{ a[0].name }}</td>
                  <td>{{ a[1].name }}</td>
                  <td>
                    <input
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="a[2]"
                      [disabled]="ambiguousEditable != i"
                      [value]="a[2]"
                    />
                  </td>
                  <td *ngIf="ambiguousEditable != i">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      (click)="editAmbiguous(i)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-outline-danger btn-sm ml-1"
                      type="button"
                      (click)="deleteAmbiguous(i)"
                    >
                      Delete
                    </button>
                  </td>
                  <td *ngIf="ambiguousEditable == i">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      (click)="saveAmbiguous(i)"
                    >
                      Save
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      style="width: fit-content"
                      (change)="onAmbiguousAttrChange($event, 0)"
                    >
                      <option
                        [value]="undefined"
                        [disabled]="true"
                        [selected]="true"
                      ></option>
                      <option
                        *ngFor="let h of scenario?.attributes"
                        [value]="h.normalizedName"
                      >
                        {{ h.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      style="width: fit-content"
                      (change)="onAmbiguousAttrChange($event, 1)"
                    >
                      <option
                        [value]="undefined"
                        [disabled]="true"
                        [selected]="true"
                      ></option>
                      <option
                        *ngFor="let h of scenario?.attributes"
                        [value]="h.normalizedName"
                      >
                        {{ h.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input
                      class="form-control"
                      formControlName="ambiguousLabel"
                    />
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="submit"
                    >
                      Add
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="invalid-feedback d-block"
              *ngIf="submittedAmbiguous && !isAmbiguousFormValid()"
            >
              Fields required
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
