<div class="card mt-3">
  <div class="card-body">
    <div>
      <h5>Dataset</h5>
      <h6>Import data from an existing CSV file</h6>
      <div class="d-flex">
        <input
          class="form-control load-csv"
          type="file"
          id="formFile"
          placeholder="No file chosen"
          (change)="handleFileInput($event)"
        />
        <button
          [disabled]="!file"
          type="button"
          class="btn btn-light btn-load mr-3"
          (click)="submitFile()"
        >
          Upload
        </button>
      </div>
      <div class="invalid-feedback d-block" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
    <div *ngIf="dataFrame" class="row table-dataset">
      <div class="col-md-12">
        <div class="panel panel-success pt-2">
          <div class="panel-heading">
            <div class="d-flex align-items-center">
              <h5 class="panel-title mt-3">Table Preview</h5>
              <div class="d-grid gap-2 col-2 ms-auto mt-2">
                <button
                  class="btn btn-primary btn-sm btn-cust"
                  (click)="delete($event)"
                  type="button"
                >
                  Delete scenario
                </button>
              </div>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
              (only first 10 rows are shown)
            </h6>
          </div>
          <div [innerHTML]="dataFrame" class="grid-container">
          </div>
          <nav *ngIf="pages" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [ngClass]="{'disabled': groupPage == 0}">
                <a class="page-link" href="#" tabindex="-1" (click)="onClickPrevGroupPage()">Previous</a>
              </li>
              <li *ngFor="let i of pages" class="page-item">
                <a class="page-link" href="#" (click)="onClickPage(i)" [ngClass]="{'active': selectedPage == (i+1)}">{{ i }}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': isHiddenNextGroupPage()}">
                <a class="page-link" href="#" tabindex="-1" (click)="onClickNextGroupPage()">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dataFrame">
  <app-metadata
    [scenarioName]="scenarioName"
    [metadata]="data?._metadata"
    (metaEvent)="loadMeta($event)"
  ></app-metadata>
</div>
