<div class="card mt-3">
  <div class="card-body">
    <h5>Sentence generator</h5>
    <h6>Generate contraddicting sentences based on the follow configuration</h6>
    <div class="row my-1 align-items-center">
      <div class="col-6 input-group">
        <p class="col-sm-4 nowrap col-form-label">Structure Type</p>
        <select
          class="form-select"
          (change)="onSelectStructure($event)"
          aria-label="Default select example"
        >
          <option
            *ngFor="let t of templates"
            [value]="t[3]"
            [selected]="t[3] === selectedStructure"
          >
            {{ t[3] }}
          </option>
        </select>
      </div>
      <div class="col-6 input-group">
        <p class="col-sm-6 nowrap col-form-label">Sentences per A-Query</p>
        <input
          class="form-control"
          type="number"
          placeholder="number of results"
          [(ngModel)]="limitResults"
        />
      </div>
    </div>
    <div class="row my-1 align-items-center">
      <div class="col-6 input-group">
        <p class="col-sm-4 nowrap col-form-label">Strategy</p>
        <select
          class="form-select"
          (change)="onSelectStrategy($event)"
          aria-label="Default select example"
        >
          <option
            *ngFor="let s of strategies | keyvalue"
            [value]="s.key"
            [selected]="s.key === selectedStrategy"
          >
            {{ s.value }}
          </option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col input-group">
        <button
          type="button"
          (click)="generate()"
          class="btn btn-primary w-100"
        >
          Generate
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="results.length > 0" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Generated Sentences</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      It is possible to explore the generated sentences and find the associate
      metadata (used template, corresponding a-query, selected data)
    </h6>
    <div class="row">
      <div class="col-md-12">
        <div
          class="panel panel-success"
          *ngFor="let res of results; let i = index"
        >
          <table
            border="1"
            class="table table-striped table-bordered table-hover table-condensed"
          >
            <thead>
              <tr>
                <th title="Field #1">{{ "A-Query " + (i + 1) }}</th>
                <th title="Field #2"></th>
                <th title="Field #3"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let row of res![2]!; let j = index"
                class="row-amb r-1"
              >
                <td>
                  <span class="r-1-a">{{ row[0] }}</span>
                </td>
                <td>
                  <button
                    class="btn btn-outline-secondary btn-sm w-100"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEdit"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-outline-primary btn-sm w-100"
                    type="button"
                    (click)="onClickView(j,i)"
                  >
                    View
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="selectedAQuery == i && selectedResult"
            class="card my-2 mb-4 card-details"
            id="card-details-r1"
          >
            <div class="card-body">
              <h6 class="card-title">
                Sentence Details for A-Query {{ i + 1 }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">Selected: ""</h6>
              <h6 class="card-subtitle mb-2 text-muted">
                A-Query (from template "{{ selectedStructure }}")
              </h6>
              <div class="row">
                <div class="cxol-md-8">
                  <div [innerHTML]="selectedResult[5][i]!" class="panel panel-success">
                  </div>
                </div>
                <pre
                  id="highlighting"
                  class="m-2 language-sql"
                  aria-hidden="true"
                  style="position: relative"
                >
                <code class="language-sql" id="highlighting-content">{{selectedResult[0]!}}</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
