<div class="card mt-3">
  <div class="card-body">
    <h5>Sentence generator</h5>
    <h6>Generate contraddicting sentences based on the follow configuration</h6>
    <div class="row my-1 align-items-center">
      <div class="col-6">
        <div class="input-group">
          <p class="col-sm-4 nowrap col-form-label">Structure Type</p>
          <select
            class="form-select"
            (change)="onSelectStructure($event)"
            aria-label="Default select example"
            [disabled]="loadGenerate"
          >
            <option [value]="undefined" selected disabled>
              Select a structure...
            </option>
            <option
              *ngFor="let t of templates"
              [value]="t[3]"
              [selected]="t[3] === selectedStructure"
            >
              {{ t[3] }}
            </option>
          </select>
        </div>
        <div class="invalid-feedback d-block text-right" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <p class="col-sm-6 nowrap col-form-label">Sentences per A-Query</p>
          <input
            class="form-control"
            type="number"
            placeholder="number of results"
            [(ngModel)]="limitResults"
            [disabled]="loadGenerate"
          />
        </div>
      </div>
    </div>
    <div class="row my-1 align-items-center">
      <div class="col-6">
        <div class="input-group">
          <p class="col-sm-4 nowrap col-form-label">Strategy</p>
          <select
            class="form-select"
            (change)="onSelectStrategy($event)"
            aria-label="Default select example"
            [disabled]="loadGenerate"
          >
            <option
              *ngFor="let s of strategies | keyvalue"
              [value]="s.key"
              [selected]="s.key === selectedStrategy"
            >
              {{ s.value }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-2 ml-md-auto">
        <button
          type="button"
          (click)="generate()"
          class="btn btn-primary w-100"
          [disabled]="loadGenerate"
        >
          Generate
          <i
            *ngIf="loadGenerate"
            class="fa fa-spinner-third fa-spin fast-spin px-1"
          ></i>
        </button>
      </div>
      <div class="col-md-2">
        <a
          type="button"
          class="btn btn-outline-secondary w-100"
          (click)="exportFile()"
          [href]="downloadJsonHref"
          download="download.json"
          [class.disabled]="results.length > 0 ? null : true"
        >
          Export
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="results.length > 0" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Generated Sentences</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      It is possible to explore the generated sentences and find the associate
      metadata (used template, corresponding a-query, selected data)
    </h6>
    <div class="row">
      <div class="col-md-12">
        <div
          class="panel panel-success table-a-query"
          *ngFor="let res of results; let i = index"
        >
          <div border="1" class="row tr mt-4">
            <div class="col-12 title">
              <span class="d-flex align-items-center mb-2">
                <h6 class="font-weight-bold">
                  {{ "A-Query " + (res[0] + 1) }}
                </h6>
                <button
                  type="button"
                  class="btn btn-outline-secondary ml-md-auto"
                  (click)="generateSingle(i, res[1])"
                >
                  Regenerate
                </button>
                <button
                  type="button"
                  class="btn btn-primary ml-2"
                  [disabled]="loadGenerate"
                  (click)="onClickDelete(i)"
                >
                  Delete
                </button>
              </span>
              <h6 class="card-subtitle mb-2 text-muted">
                A-Query (from template "{{ selectedStructure }}")
              </h6>

              <div class="col-12">
                <textarea
                  placeholder="Insert template sql"
                  id="editing"
                  spellcheck="false"
                  [(ngModel)]="res[1]"
                  [ngModelOptions]="{ standalone: true }"
                  (input)="updateAQuerySqlText(i)"
                  style="background: #f5f2f0; color: black; position: relative; caret-color: black;"
                >
                {{ res[1]! }}</textarea
                >
                <!-- <pre
                  id="highlighting"
                  aria-hidden="true"
                  class="m-2 language-sql"
                  style="position: relative"
                >
                  <code #highlightingContentAquery class="language-sql" id="highlighting-content">{{ res[1]! }}</code>
                </pre> -->
              </div>
            </div>
            <div *ngFor="let row of res![3]!; let j = index" class="row tr r-1">
              <div class="col-8 td">
                <span class="r-1-a">{{ row[0] }}</span>
              </div>
              <div class="col-2 td">
                <button
                  class="btn btn-outline-secondary btn-sm w-100"
                  type="button"
                  (click)="onClickEdit(content)"
                >
                  Edit
                </button>
              </div>
              <div class="col-2 td">
                <button
                  class="btn btn-outline-primary btn-sm w-100"
                  type="button"
                  (click)="onClickView(i, j)"
                >
                  View
                </button>
              </div>
              <div
                class="col-12 details"
                *ngIf="
                  selectedAQuery == i && selectedRow == j && selectedResult
                "
              >
                <div class="card my-2 mb-4 card-details" id="card-details-r1">
                  <div class="card-body">
                    <h6 class="card-title">
                      Sentence Details for A-Query {{ i + 1 }}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Selected: "{{ selectedResult[3][j][0] }}"
                    </h6>
                    <div class="row">
                      <div class="cxol-md-8">
                        <div
                          [innerHTML]="selectedResult[6][selectedRow]!"
                          class="panel panel-success"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Edit Template</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <label class="col-sm-2 col-form-label">Template Name</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            placeholder="Template Name"
            aria-label="default input example"
            [(ngModel)]="selectedTemplate![3]"
          />
        </div>
      </div>
      <div class="row g-3">
        <div style="height: 150px" class="col-12">
          <textarea
            placeholder="Insert template sql"
            id="editing"
            spellcheck="false"
            [(ngModel)]="selectedTemplate![0]"
            (input)="updateSqlText(indexOfelement)"
            style="background: #f5f2f0; color: black; position: relative; caret-color: black;"
          >
        {{ selectedTemplate![0] }}</textarea
          >
          <!-- <pre id="highlighting" aria-hidden="true" class="language-sql">
          <code #highlightingContent class="language-sql" id="highlighting-content">{{ selectedTemplate![0] }}</code>
        </pre> -->
        </div>
        <div
          *ngIf="getOperators(selectedTemplate![1]).length > 0"
          class="col-12"
        >
          <h6>Operators</h6>
          <div
            class="row my-1"
            *ngFor="let o of getOperators(selectedTemplate![1]); let i = index"
          >
            <label
              class="col-sm-1 col-form-label text-center font-weight-bold"
              >{{ o }}</label
            >
            <div class="col-sm-6">
              <input
                class="form-control"
                type="text"
                placeholder="Template Name"
                aria-label="default input example"
                [(ngModel)]="selectedTemplate![2][i]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.close('Cancel click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
        Edit
      </button>
    </div>
  </ng-template>
</div>
