<div class="row table-dataset">
  <h5 class="panel-title mt-3 card-text">Primary Keys</h5>
  <div class="col-md-12">
    <table
      style="table-layout: fixed"
      border="1"
      class="table table-sm table-striped table-bordered table-hover text-center"
    >
      <thead>
        <tr>
          <th class="column-id">#</th>
          <th *ngFor="let h of data?._headers" scope="col">{{ h }}</th>
          <th class="column-id"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-pk">
          <td>PK1</td>
          <td *ngFor="let h of data?._headers"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td *ngFor="let h of data?._headers">
            <input class="form-check-input" type="checkbox" value="" />
          </td>
          <td>
            <button class="btn btn-outline-secondary btn-sm" type="button">
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
