<div role="main">
  <div *ngIf="this.jwtService.loggedIn">
    <div *ngIf="spinnerLoaderService.isLoading$ | async" class="loader loader-default is-active" id="loader"></div>
    <!-- Toolbar -->
    <div class="toolbar navbar" role="banner">
      <a class="navbar-brand" href="#">
        <i class="fas fa-hat-wizard"></i>
        Pythia
      </a>
      <div>
        <i class="fas fa-user text-white mr-1"></i>
        <span *ngIf="this.username" class="text-white">Hi, {{ username | async }}</span>
      </div>
    </div>
    <app-home></app-home>
  </div>
  <div *ngIf="!this.jwtService.loggedIn">
    <app-login></app-login>
  </div>
</div>

<router-outlet></router-outlet>
