p {
    margin: 0;
}

.btn,
.nowrap {
    white-space: nowrap;
}

.bg-primary {
    background-color: #eb6864!important;
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #e53c37;
    border-color: #e4312c;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(238 127 123 / 50%);
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #e74742;
    border-color: #e53c37;
    box-shadow: 0 0 0 0.2rem rgb(238 127 123 / 50%);
}

.btn-outline-primary {
    color: #eb6864;
    border-color: #eb6864;
}

.text-primary {
    color: #eb6864!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.form-select.form-btn {
    border-radius: 0.25rem 0 0 0.25rem;
}

.form-select:focus {
    border: 1px solid #ced4da;
    outline: 0;
    box-shadow: none;
}

.btn-load {
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid #ced4da;
    border-left: 0px;
}

.load-csv {
    border-radius: 0.25rem 0 0 0.25rem;
}

.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}