<div class="container-fluid p-0">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs justify-content-center">
      <li class="nav-item">
        <button
          class="nav-link text-primary active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          <i class="fas fa-wrench"></i>
          Scenario definition
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link text-primary"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          [disabled]="!scenarioName"
        >
          <i class="fas fa-table"></i>
          Output
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="content" [ngClass]="{'max-width-1520': attrsCount > 15}">
  <div class="tab-content" id="myTabContent">
    <!-- Scenario -->
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="card mt-3">
        <div class="card-body">
          <h5>Scenario Name</h5>
          <h6>Load or create a new scenario</h6>
          <div class="d-flex">
            <select
              class="form-select form-btn"
              aria-label="Default select example"
              (change)="onScenarioSelected($event)"
            >
              <option [ngValue]="null" selected disabled>
                Select an existing scenario...
              </option>
              <option
                *ngFor="let s of listScenarios | keyvalue"
                [value]="s.key"
              >
                {{ s.value }}
              </option>
            </select>
            <button
              (click)="loadScenario()"
              type="button"
              class="btn btn-light btn-load mr-3"
            >
              Load
            </button>
            <button
              (click)="newScenario()"
              type="button"
              class="btn btn-primary"
            >
              New Scenario
            </button>
          </div>
          <div class="invalid-feedback d-block" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </div>
      </div>

      <div *ngIf="idScenarioSelected == 1">
        <app-load-scenario
          [scenarioName]="scenarioName"
          (deletedScenearioEvent)="deletedScenario()"
          (attrsNumberEvent)="setAttrsNumber($event)"
        ></app-load-scenario>
      </div>

      <div *ngIf="idScenarioSelected == 2">
        <app-new-scenario
          [scenarioName]="scenarioName"
          (scenarioSetEvent)="loadScenarioName($event)"
          (fileUploadEvent)="loadFile($event)"
          (deletedScenearioEvent)="deletedScenario()"
          (attrsNumberEvent)="setAttrsNumber($event)"
        ></app-new-scenario>
      </div>
    </div>

    <!-- Output -->
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div *ngIf="scenarioName">
        <app-output-view [scenarioName]="scenarioName"></app-output-view>
      </div>
    </div>
  </div>
</div>
